.summary {
    width: 800px;
    margin: 30px auto auto;
    background-color: deepskyblue;
}

.summary .person {
    margin-bottom: 10px;
}

.summary .number{
    display: inline-block;
    margin-left: 20px;
    width: 500px;
}

.summary .number div{
    display: inline-block;
    margin-left:10px;
    margin-top: 10px;
    width: 100px;
    margin-bottom: 10px;
    background-color: white;
    font-size: 100px;
    text-align: center;
    font-family: monospace;
}

.function{
    width: 800px;
    margin: 10px auto auto;
}

.function div{
    display: inline-block;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    height: 60px;
    width: 189px;
    background-color: yellowgreen;
    font-family: fantasy;
    cursor: pointer;
    margin-right: 10px;
}

.function div:hover{
    background-color: yellow;
}

.function_display {
    width: 800px;
    height: 300px;
    margin: auto;
    background-color: yellow;
}

.clicked{
    background-color: yellow;
}

.function_display div {
    margin-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-family: fantasy;
}

.function_display .confirm{
    margin-left: -10px;
    padding-top: 10px;
    background-color: deepskyblue;
    width: 758px;
    margin-top: 54px;
    text-align: right;
    padding-right: 10px;
    font-size: 40px;
}